      *{
    margin: 0px;
    padding: 0px;
   }
   header{
  background:url("img/header.png");
  height: 690px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
body{
  font-family: 'Titillium Web', sans-serif;
}
.logo{
  padding: 50px;
}
 
.ref ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 50px;

}

.ref li:hover{
  background-color: rgba(0,0,0,0.3);
  height: 50px; 
  border-radius: 5px;
 
}

.ref li a{
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  

}
.hi{

	margin-top: 150px;
=======
  margin-top: 125px;

}
.hi p{
	color: white;
	font-size: 34px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0rem;

	}
	#work{
		margin-top: 50px;
	}
	#work a{
		border-radius: 3px;
		    border-bottom: 3px solid #c86a40;
	margin-left: -16px;
	text-decoration: none;
    background: #eb7d4b;
    color: white;
    text-align: center;
    display: block;
    width: 205px;
    height: 49px;
    padding: 7px 0px;
    font-weight: normal;
    font-size: 14px;
    transition: 0.5s ease all;
	}
	#work a:hover{
		text-decoration: none;
	background:#f34d04;
	transform: scale(1.05);
		
	}
  #work p{
    margin-top: 6px;
  }
	.bg1{
		height: 730px;
		background: #17c2a4;
	}
	.bg1 h2{
		color: white;
		padding-top: 69px;
	}
	.bg1 h2:after{
	content:"";
	width: 44px;
	height: 3px;
	background: #14a58c;
	display: block;
	margin: 15px auto;
	margin-bottom: -30px;
}
	#parrafo p{
	    padding-top: 30px;
		text-align: center;
		font-size: 17px;
	    margin-left: 25px;
	    color: white;
	    padding-bottom: 80px;
	}
	.bandera h1{
		font-size: 20px;
		color: white;
		padding-top: 60px;
        padding-bottom: 20px;
	}
	.bandera img{
		display: block;
    margin: auto;
		height: 140px;
    width: 150px;
	}
	.bandera img {
  
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.bandera:hover img {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
	.bandera p{
		color: white;
		margin-right: -9px;
	}

	.bg3{
		background: #e7f1f8;
		height: 745px;
	}
	.bg3 h3{
		color: #3c4761;
		padding-top: 69px;
		font-size: 28px;
	}
	.bg3 h3:after{
	content:"";
	width: 86px;
	height: 3px;
	background: #c8d9e5;
	display: block;
	margin: 15px auto;
	margin-top: 10px;
}
   .bg3 p{
   	color: #5d677b;
   }
   .mayli{
    display: block;
    margin: auto;
   }
	.mayli img{
		border-radius: 100%;
		margin-top: 60px;
		height: 150px;
    width: 150px;
	}
	
	.mayli h1{
		color: #3c4761;
		font-size: 20px;
		margin-top: 40px;
	}
	.mayli h2{
		color: #55c2e9;
		font-size: 15px;
	}
	.mayli p{
		color: #5d677b;
		padding-top: 15px;
	}
  .iconos{
    margin-left: 67px;
  }
	.iconos img{
		justify-content: center;
    width: 25px;
    height: 24px;
    margin-top: 10px;
    margin-left: 20px;
}
	
   /*Skills */
  #skill{
    background-color: #fff;
  }

  .marginimg{
    margin-left: 50px;
  }
  .skillmargin{
    margin-top: 45px;
    margin-bottom: 55px;

 /*PORTAFOLIO*/
	}
 #Portfolio{
    background-color: #ffdd99;
  }
 .botones1 {
  margin: 37px auto 43px;
  font-size: 50px;
  line-height:4px;
  text-align: center;
}
.botones1 a{
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 15px;
  background-color: #ebc985;
  color: #393939;
}
  .botones1 a:hover {
  background-color: #ffff;
}
.font{
  text-align: center;
  font-weight: bolder;
  margin-top: 10px;
}
.Imgdisplay2{
    width: 50%;
        width: 100%;
    margin-bottom: 10px;
  }
  /*Estilos Get in Touch */
  
  .marginIMG{
    margin-top: 30px;
  }
  #formulario{
    background: #3c5499;
    justify-content: center;
    align-items: center;
    height: 632px;
  }


.font1, .font2, .fontsection7, .fontsection6{
    margin-top: 70px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
  }

  .fontsection6{
    color: black;
     letter-spacing: 4px;
    font-weight: bold;
}
.fontsection7{
  letter-spacing: 3px;
}
      
.line, .line2{
    justify-content: center;
    width: 60px;
    border-bottom:  3px  solid #273a71;
    margin: auto;
    margin-bottom: 12px;  
}
.line2{
  border-bottom: 3px solid #e5c37f;
}

.line3{
  border-bottom: 3px solid #dfe8ed;
    width: 70px;
  margin: auto;
}
.font1, .font2{
  font-size: 16px;
  font-weight: lighter;
  margin-top: 10px;
}
.font2{
  color: black;
}
.display{
  display: inline-flex;

}
.form, .form2, .form3{
  justify-content: center;
  background: rgba(39,58,113, 0.85);/*rgba es para transparencia*/
  border: none;/*quitar el border*/
  border-radius: 3px;
  height: 35px;
  font-size: 14px;
  color: #fff;/*color dentro del buscador*/
  margin-top: 45px;
  display: block;
  text-decoration: #fff;
}
.center{
  margin-left: 50px;
}

.form2{
  margin-top: 10px;
  width: 770px;
  height: 197px;
  padding-bottom: 20px;
  padding-bottom: 150px;
}
.form3{
  display: block;
  background-color: #30bae7;
  border-bottom: 3px solid #299ec5;
  margin-bottom: 70px;
  width: 180px;
  height: 45px;
  margin: 56px auto;
  color: #fff;
}
.form3 p{
  margin-top: 6px;
}
.padding{
  padding-left: 0px;
  padding-right: 0px;
}
footer{
  background-color: #344b8e;
  height: 70px;
}
.link1{
  padding: 25px;
  color: azure;
  margin-right: 12px;
}
.link1 a{
  color: azure;
  text-decoration: none;
}
.link1 a:hover{
  color: #30bae7;
}
/*Seccion People say*/
.bg_rosa{
  height: 700px;
  background: #d74680
}
.bg_rosa h3{
  color: white;
  padding-top: 70px;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 27px;
  }
.bg_rosa h3:after{
  content:"";
  width: 88px;
  height: 3px;
  background: #b73c6d;
  display: block;
  margin: 15px auto;
  margin-bottom: -30px;
  }
#parrafo2 {
  padding-top: 40px;
  text-align: center;
  font-size: 17px;
  color: white;
  }
  .font2{
  text-align: center;
  margin-left: 20px;
  font-weight: bolder;
  margin-top: 10px;
  }
  .center2 {
  color: #ffffff;
  display: inline-flex;
  text-align: left;
  }
  .prueba{
    color: #fcca99;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .imagenes3 {
  border-radius: 150px;
  display: inline-block;
  margin-top: 40px;
  margin-right: 33px;
  }

@media (min-width: 320px) and (max-width : 812px){

/*.container-fluid{
  width: 360px;
*/
footer{
  background-color: #344b8e;
  height: 100%;
  /*width: 360px;*/
  margin-left: auto;
  margin-right: auto;
}
#formulario {
    background: #3c5499;
    justify-content: center;
    align-items: center;
    height: 120%;
  }
.form, .form2{
  justify-content: center;
  background: rgba(39,58,113, 0.85);/*rgba es para transparencia*/
  border: none;/*quitar el border*/
  border-radius: 3px;
  height: 35px;
  font-size: 14px;
  color: #fff;/*color dentro del buscador*/
  margin-top: 10px;
  display: block;
  text-decoration: #fff;
}
  .form{
    margin-top: 40px;
  }
.bg_rosa {
    height: 120%;
    background: #d74680;
}
 .imagenes3 {
  border-radius: 150px;
  margin-top: 40px;
  margin-right: 33px;
      width: 29%;
    height: 56%;
  }
.Imgdisplay{
  display: inline-flex;
      margin-bottom: 20px;
    margin-top: 30px;
}

.center2 {
  color: #ffffff;
  display: initial;
  text-align: left;
  }
  .prueba{
    color: #fcca99;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  /*Seccion Portfolio*/
  #Portfolio{
    background-color: #ffdd99;
  }
  .botones1 {
    margin: 37px auto 43px;
    font-size: 50px;
    line-height: 4px;
    text-align: center;
}
  .Imgdisplay2{
    width: 50%;
        width: 100%;
    margin-bottom: 10px;
  }
.font {
    text-align: center;
    font-weight: bolder;
    /* margin-top: 10px; */
    display: block;
    margin: auto;
}
.skillmargin {
    margin-top: 45px;
    margin-bottom: 55px;

}
.Imgdisplay3{
    width: 44%;
    margin-bottom: 10px;
    display: block;
    margin: auto;
  }
.marginimg{
        display: block;
    margin: auto;
  }
.bg3{
    background: #e7f1f8;
    height: 1689px;

  }
/*Seccion we provide*/
.bg1 {
    height: 120%;
    background: #17c2a4;
}
.bandera h1{
    font-size: 20px;
    color: white;
    padding-top: 60px;
        padding-bottom: 20px;
  }
  .bandera img{
    display: block;
    margin: auto;
    margin: auto;
    height: 140px;
    width: 150px;
  }
  .bandera img {
  
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.bandera:hover img {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
  .bandera p{
    color: white;
    margin-right: -9px;
  }
/*header*/
header {
    background: url(img/header.png);
    height: 903px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
}
  
      .ref ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        margin-top: 50px;
      
      }
      
      .ref li:hover{
        background-color: rgba(0, 0, 0, 0.3);
        height: 50px; 
        border-radius: 5px;
      
      }
      
      .ref li a{
        
        text-decoration: none;
        color: white;
        font-size: 14px;
        padding: 0px 8px;

      
      }
.bt1{
  display: block;
  margin: auto;
}
#work a{
    border-radius: 3px;
        border-bottom: 3px solid #c86a40;
        margin-left: -58px;
  text-decoration: none;
    background: #eb7d4b;
    color: white;
    text-align: center;
    display: block;
    width: 205px;
    height: 49px;
    padding: 7px 0px;
    font-weight: normal;
    font-size: 14px;
    transition: 0.5s ease all;
  }
   .iconos{
    margin-left:25%;
  }

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width : 1200px){
/*footer*/
footer{
  background-color: #344b8e;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.link1{
  padding: 25px;
  color: azure;
}
/*Get in touch*/
#formulario {
    background: #3c5499;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
.form, .form2{
  justify-content: center;
  background: rgba(39,58,113, 0.85);/*rgba es para transparencia*/
  border: none;/*quitar el border*/
  border-radius: 3px;
  height: 35px;
  font-size: 14px;
  color: #fff;/*color dentro del buscador*/
  margin-top: 10px;
  display: block;
  text-decoration: #fff;
}
  .form{
    margin-top: 40px;
  }
  /*What people say*/
.bg_rosa {
    height: 890px;
    background: #d74680;
}
 .imagenes3 {
  border-radius: 150px;
  margin-top: 40px;
  margin-right: 33px;
      width: 34%;
    height: 39%;
  }

.center2 {
  color: #ffffff;
  display: -webkit-inline-box;
  text-align: left;
  }
  .prueba{
    color: #fcca99;
    margin-top: 10px;
    margin-bottom: 50px;
  }*/
  /*Seccion Portfolio*/
  #Portfolio{
    background-color: #ffdd99;
  }
  .Imgdisplay2{
    width: 50%;
        width: 100%;
    margin-bottom: 10px;
  }
.font {
    text-align: center;
    font-weight: bolder;
    /* margin-top: 10px; */
    display: block;
    margin: auto;
}
/*Seccion skill*/
.skillmargin {
    margin-top: 45px;
    margin-bottom: 55px;

}
.Imgdisplay3{
    width: 70%;
    margin-bottom: 10px;
  }
  .Imgdisplay4{
    width: 121%;
    margin-bottom: 10px;
        margin-left: 0px;
  }
.marginimg{
    margin-left: 21px;
  }
  /*Our Team*/
.bg3{
    background: #e7f1f8;
    height: 761px;

  }
    .iconos{
    margin-left: 0px;
  }
  .iconos img{
    justify-content: center;
    width: 25px;
    height: 24px;
    margin-top: 10px;
    margin-left: 20px;
}
/*Seccion we provide*/
.bg1 {
    height: 756px;
    background: #17c2a4;
}
.bandera{
  margin-right: 20px;
}
.bandera h1{
    font-size: 20px;
    color: white;
    padding-top: 60px;
        padding-bottom: 20px;
  }
  .bandera img{
    display: block;
    margin: auto;
    height: 140px;
    width: 150px;
    margin-top: 42px;
  }
  .bandera img {
  
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.bandera:hover img {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
  .bandera p{
    color: white;
    margin-right: -9px;
  }
/*header*/
header {
    background: url(img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 590px;
}
.bt1{
  display: block;
  margin: auto;
}
.ref ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        margin-top: 50px;
      
      }
      
      .ref li:hover{
        background-color: rgba(0, 0, 0, 0.3);
        height: 50px; 
        border-radius: 5px;
      
      }
      
      .ref li a{
        
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 16px 9px;

      
      }
#work a{
    border-radius: 3px;
        border-bottom: 3px solid #c86a40;
        margin-left: -58px;
  text-decoration: none;
    background: #eb7d4b;
    color: white;
    text-align: center;
    display: block;
    width: 205px;
    height: 49px;
    padding: 7px 0px;
    font-weight: normal;
    font-size: 14px;
    transition: 0.5s ease all;
  }
}