     header{
  background:url("img/header.png");
  height: 690px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
body{
  font-family: 'Nunito+Sans', sans-serif;
}
.logo{
  padding: 50px;
}
 
.ref ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 50px;

}

.ref li:hover{
  background-color: rgba(0,0,0,0.3);
  height: 50px; 
  border-radius: 5px;
 
}

.ref li a{
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  

}
.hi{
  margin-top: 150px;
}
.hi p{
  color: white;
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0rem;

  }
  